/* INICIO PRELOADER*/

/* PRELOADER */

:root {
  --bg-primary:  #9c27b0;
  --title-primary: #CE833C;
  --loader-primary: rgba(255, 255, 255, 0.3);
  --loader-secondary: #ff6600;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.bg-preloader__half {
  background: var(--bg-primary);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.bg-preloader__half-left {
  left: 0;
}

.bg-preloader__half-right {
  right: 0;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.preloader__position-container-items {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preloader__title--primary {
  width: 100%;
  color: var(--title-primary);
  text-align: center;
}

.preloader__item--styles {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--loader-primary);
  float: left;
  margin: 0 10px 0 0;
}

.preloader__item--animation {
  animation: infinite 500ms ease-in-out;
}

.item1--animation-name {
  animation-name: animation-item-1;
}

.item2--animation-name {
  animation-name: animation-item-2;
}

.item3--animation-name {
  animation-name: animation-item-3;
}

.item4--animation-name {
  animation-name: animation-item-4;
}

@keyframes animation-item-1 {
  0% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
  25% {
    background: var(--loader-secondary);
    transform: translateY(-5px);
  }
  50% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
}

@keyframes animation-item-2 {
  25% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
  50% {
    background: var(--loader-secondary);
    transform: translateY(-5px);
  }
  75% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
}

@keyframes animation-item-3 {
  50% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
  75% {
    background: var(--loader-secondary);
    transform: translateY(-5px);
  }
  100% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
}

@keyframes animation-item-4 {
  75% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
  100% {
    background: var(--loader-secondary);
    transform: translateY(-5px);
  }
  25% {
    background: var(--loader-primary);
    transform: translateY(0);
  }
}

/* FIN PRELOADER */

#login {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* ---- ---- */

/* HOME STYLES*/

body {
  background-color: #E1E2E1;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.container-flex {
  /*	background-color:#9c27b0; */
  /* #390F72 ,#540362 ,#9D5DC , #8F3376F , rgb(87, 43, 150)*/
  background-color: #E1E2E1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.size {
  height: 90vh;
  width: 100%;
}

.color-primary {
  background-color: #9c27b0;
  border-bottom: 3px solid #fff;
  border-top: 20px solid #6A0080;
}

.primary-button {
  background-color: #D81155;
  color: #fff;
}

.primary-button:hover {
  /*cursor: pointer; */
  background-color: rgba(172, 11, 67, 0.808);
  color: #fff;
}

/*
.primary-button:active{
	background-color: rgba(184, 19, 77, 0.644);
	color: #fff;
} */

.heigth-30vh {
  height: 15vh;
}

.icon-size {
  font-size: 12em;
  color: #FFA726;
  margin-bottom: 10%;
}

.padding-0 {
  padding: 0;
}

.margin-left-0 {
  margin-left: 0;
}

h1 {
  position: relative;
  bottom: 10%;
  font-size: 2.5em;
  color: #fff;
  font-weight: 400;
  font-family: 'Signika', sans-serif;
}

.warning {
  color: red;
}

.modal-bg {
  background-color: #F5F5F6;
}

/*PROFILE STYLES */

.img-fluid {
  min-width: 40px;
  height: 40px;
}

.bg-primary {
  background-color: #9c27b0;
}

.padding-15 {
  padding: 15px;
}

.margin-0 {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 0;
}

.position-relative {
  position: relative;
  bottom: 12px;
}

.profile-picture {
  width: 100%;
  height: auto;
  border: 3px solid #fff;
}

.avatar-image {
  height: 40vh;
  background-color: #6A0080;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-info-styles {
  width: 100%;
  height: 26vh;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.box-shadow {
  box-shadow: 5px 10px 18px #888888;
}

/* FORM-DATA STYLES*/

.bg-100 {
  width: 100%;
  height: 100vh;
}

.bg-primary2 {
  background-color: #69007F;
}

.height-5vh {
  height: 5vh;
}

.height-10vh {
  height: 10vh;
}

.bg-primary3 {
  background-color: #CF5CE2;
}

.position-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-white {
  background-color: #fff;
}

.height-74vh {
  height: 70vh;
}

/* PROFILE STYLES*/

.title--styles {
  color: #A0002D;
  font-size: 2em;
  font-weight: 600;
}

.box-info-styles>p {
  color: #37474F;
  font-size: 1.2em;
  font-weight: 600;
}
