<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Red-social</title>
	<!--<link rel="icon" href="../assets/images/icon-lyft.png">  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>

<body class=" bg-primary">

	<div class="container  width-100  padding-0 ">
		<div class="row margin-0 bg-primary2 height-5vh"></div>
		<div class="row margin-0 padding-10 ">
			<i class="glyphicon glyphicon-chevron-left pull-left return-btn return-js"></i>
			<button class="btn btn-lg primary-button pull-right sign-out-js">Sign out
				<i class="fa fa-sign-out"></i>
			</button>

		</div>
		<!--INICIO  -->
		<div class="row container-fluid margin-0 margin-top margin-right-0">
			<div class="col-sm-4 hidden-xs">
				<img src="../assets/images/asistance1.jpg" alt="" class="img-80 margin-15 border-radius hover">

				<img src="../assets/images/asistance2.jpg" alt="" class="img-80 margin-15 border-radius hover">

				<img src="../assets/images/asistance3.jpg" alt="" class="img-80 margin-15 border-radius hover">

			</div>
			<div class="col-sm-8  col-xs-12">
				<h2>Centros de ayuda:</h2>
				<br>

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel ">
						<div class="panel-heading bg-secondary " role="tab" id="headingOne">
							<h4 class="panel-title search-js ">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									AYUDA JURÍDICA
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in modal-bg" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body juridical-help-js">

								<!--CONTENIDO -->

							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading bg-secondary" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								 aria-controls="collapseTwo">
									AYUDA MÉDICA
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse modal-bg" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body medical-help-js">
								<!--CONTENIDO -->
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading bg-secondary" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								 aria-controls="collapseThree">
									AYUDA PSICOLÓGICA
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse modal-bg" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body psychological-help-js">
								<!--CONTENIDO -->
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>

		<!--FIN -->

		<div class="row  container-fluid margin-0">
			<div class="col-xs-10 col-xs-offset-1 visible-xs">
				<img src="../assets/images/asistance3.jpg" alt="" class="img-80 margin-15 border-radius hover">
			</div>
		</div>
		<!--  <div class="row margin-0 position-absolute bg-primary3 height-10vh "></div>
     </div> -->

		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

		<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
		<script src="../js/data.js"></script>
		<script src="../js/assistance.js"></script>
</body>

</html>