<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Red-social</title>
  <!--<link rel="icon" href="../assets/images/icon-lyft.png">  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body class="bg-gray-fixed">

  <div class="container bg-primary bg-100 padding-0">
    <div class="row margin-0 height-5vh bg-primary2"></div>
    <div class="row ">
      <h3 class="text-center">Completa tus datos:</h3>
    </div>

    <div class="row padding-15">
      <div class="col-xs-10 col-xs-offset-1 bg-white padding-15 height-74vh ">
        <br>
        <form class="form-horizontal">
          <div class=" form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="text" class="form-control name-form-js" placeholder="name or nickname">

            </div>
          </div>

          <div class="  form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="text" class="form-control occupation-form-js" placeholder="Occupation">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="number" class="form-control cellphone-js" placeholder="Cellphone">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1">
              <select class="form-control select-js">
                <option>Seleccione una opción</option>
                <option value="orientador">Orientador</option>
                <option value="participante">Participante</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox-js">
                  <p class="text-left warning">Es importante recalcar que los contenidos compartidos en este espacio pueden ser de caracter sensible por
                    lo que cualquier acto que genere algun tipo de agresión será penalizado</p>
                </label>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-lg primary-button start-js" disabled>¡Comenzar!</button>
          </div>
        </div>


      </div>

    </div>

    <div class="row margin-0 position-absolute bg-primary3 height-10vh ">

    </div>

  </div>


  <!--   -->



  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!--	<script src="../js/functions.js"></script> -->
  <script src="../js/form-data.js"></script>
</body>

</html>