<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" />
	<link rel="stylesheet" href="../css/main.css">
	<title>Document</title>
</head>

<body>
	<div class="container bg-form padding-20vh ">


		<div class="row ">
			<h3 class="center-align">Completa tus datos</h3>
			<div class="col s10 offset-s1 m6 offset-m3">
				<div class="row">
					<form class="col s12 bg-white border-radius-10">
						<div class="row">
							<div class="input-field col s12">
								<input placeholder="Nickname" id="first_name" type="text" class="validate">
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" class="validate" placeholder="Celular">
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 ">
								<select>
									<option value="" disabled selected>Choose your option</option>
									<option value="orientador">Orientador</option>
									<option value="observador">Observador</option>
								</select>
							</div>
						</div>
						<p>
							<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
							<label for="filled-in-box"> <span class="text-red">Es importante recalcar que los contenidos compartidos en este espacio pueden ser de caracter sensible por
									lo que cualquier acto que genere algun tipo de agresión será penalizado</span> </label>
						</p>
						<a class="waves-effect waves-light btn margin-bottom-10">
							<i class="material-icons right">cloud</i>button</a>

					</form>

				</div>


			</div>
		</div>





	</div>


	<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<script src="../js/form.js"></script>
</body>
</body>

</html>
