<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Document</title>
</head>

<body>
	<div class=""></div>
	<div class=" bg-100 ">
		<!--	<div class="row s12">
			<a class="waves-effect pink darken-3 btn-large btn-raised btn log-out-js">
				<i class="material-icons left ">cloud</i>Sign out with Google</a>
		</div>
		<div class="row s12">
			<a class="waves-effect pink darken-3 btn-large">
				<i class="material-icons right">cloud</i>button</a>
        </div> -->
		<nav>
			<div class="nav-wrapper deep-purple lighten-2">
				<a href="#" class="brand-logo">
					<img src="../assets/images/nomas.png" class="logo-size" alt="logo No Más">
				</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse">
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="#">Perfil
							<i class="material-icons right">person</i>
						</a>
					</li>
					<li>
						<a href="#" class="contacts-js">Contactos
							<i class="material-icons right ">contacts</i>
						</a>
					</li>
					<li>
						<a href="#">Buscar
							<i class="material-icons right">search</i>
						</a>
					</li>
					<li>
						<a href="#" class=" log-out-js"> Cerrar sesión
							<i class="material-icons right">input</i>
						</a>
					</li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li>
						<a href="#">Perfil
							<i class="material-icons right">person</i>
						</a>
					</li>
					<li>
						<a href="#" class="contacts-js">Contactos
							<i class="material-icons right">contacts</i>
						</a>
					</li>
					<li>
						<a href="#">Buscar
							<i class="material-icons right">search</i>
						</a>
					</li>
					<li>
						<a href="#" class=" log-out-js">Cerrar sesión
							<i class="material-icons right">input</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="bg-image"> </div>

		<div class="row">
			<div class="col s12 m4 flex-container ">
				<div class="center-align  box-profile--styles border-radius-10">
					<p>
						<i class="material-icons center icon-size">person</i>
					</p>
					<p class="nickname-js">Nickname: ___nombre____</p>
					<p class="occupation-js">Ranking : _____orientador___</p>
					<p class="cellphone-js">Celular: _____celular_____</p>

				</div>

			</div> 
			<div class="col s12 m8  ">
				<div class="row">
					<form class="col s12 ">
						<div class="row ">
							<div class="input-field col s10 offset-s1 commits--styles  border-radius-10 ">
								<textarea id="textarea1" class="materialize-textarea" placeholder="¿Cómo te sientes hoy?"></textarea>
								<a class="">
									<i class="material-icons right margin-right-10 ">camera_alt</i>
								</a>
								<a class="deep-purple lighten-2  btn margin-bottom-10">
									<i class="material-icons left">send</i>Compartir</a>

							</div>
						</div>
					</form>
				</div>

				<div class="row">
					<div class="col s10 offset-s1 commits--styles  border-radius-10 ">
						<div>
                 <p> <i class="material-icons">person</i> El usuario dice:</p>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus est quaerat recusandae cum nostrum id laudantium
							quos culpa nemo enim, expedita assumenda beatae veritatis quidem dignissimos doloribus aut error commodi!</p>
							<div class="margin-bottom-10">
								<hr>

								<i class="material-icons right margin-right-10 ">more_horiz</i>
								<i class="material-icons right margin-right-10 ">favorite</i>
								<i class="material-icons right margin-right-10 ">child_care</i>
								<br>
							</div>
					</div>

				</div>


			</div>
		</div>






	</div>

	<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<script src="../js/login.js"></script>
	<script src="../js/home.js"></script>
</body>
</body>

</html>
