<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" />
	<link rel="stylesheet" href="../css/main.css">
	<title>Document</title>
</head>

<body>
	<div class=""></div>
	<div class="  flex-container bg-image--login">
		<div class="row s12">
			<a class="waves-effect pink darken-3 btn-large btn-raised btn hoverable" id="start-login">

				Sign in with Google</a>
		</div>
		<div class="row s12">
			<a class="waves-effect pink darken-3 btn-large">
				<i class="material-icons right">cloud</i>button</a>
		</div>


	</div>

	<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<script src="../js/login.js"></script>
</body>
</body>

</html>
