<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../css/principal.css">
  <title>Red Social</title>
</head>

<body>
  <!--nav-->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Navbar for mobile -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-rigth" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand img-fluid" href="#">
          <img src="../assets/images/logo.png" alt="Logo" class="img-fluid hidden-xs">
          <img src="../assets/images/logo.png" alt="Logo" class="img-fluid hidden-sm hidden-md hidden-lg text-center">
        </a>
      </div>

      <!-- Menu visible in desktop and tablets -->
      <div class="collapse navbar-collapse navbar__items" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" class="text-nav font">Hola @Juana, estas conectada</a>
          </li>
          <li>
            <a href="#" class="text-nav font">Novedades</a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#sign-up" class="text-nav font">Mis favoritos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- fin de nav -->
  <main class="container">

    <div class="col-xs-12 col-md-4 usuariax">
      <div class="box-newperfil">
        <img class="newperfil center-block img-responsive" src="https://png.icons8.com/color/540/edit-user-female.png" alt="">
        <br>
        <div class="datos text-center">
          <p class="text-name">Juana Lopez</p>
          <button type="button" class="button-match font">Mis contactos
            <span class="icon">
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </button>
          <button type="button" class="button-event center-block font">Mis eventos</button>
        </div>
      </div>
      <!-- evento-1 -->
      <div class="col-sm-3 box-event">
        <p class="title-event0">Marcha NI UNA MENOS</p>
        <img class="img-event center-block img-responsive" src="http://niunamenos.com.ar/wp-content/uploads/2015/06/liniersniunamenos-270x250.jpg"
          alt="">

        <div class="date-event text-center">
          <p class="text-event">Lugar:
            <span>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span> Plaza Dos de Mayo </p>
          <p class="event">Fecha:
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>15/Enero/2018</p>
          <p class="event">Hora:
            <span>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </span>6:00pm</p>
          <button type="button" class="button-event1 font">Seguir evento
            <span class="icon">
              <i class="fa fa-arrow-circle-right icon-event" aria-hidden="true"></i>
            </span>
          </button>
          <button type="button" class="button-event1 font">Añadir a Mis eventos</button>
        </div>
      </div>
      <br>
      <br>

      <!-- evento-2 -->
      <div class="col-sm-3 box-event">
        <p class="title-event1">#DiaInternacionalDeLaMujer</p>
        <img class="img-event center-block img-responsive" src="https://prod.media.larepublica.pe/720x405/larepublica/imagen/2017/08/12/noticia-marcha-igualdad-genero.jpg"
          alt="">
        <div class="date-event text-center">
          <p class="text-event">Lugar:
            <span>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span> Plaza Francia-Cercado de Lima </p>
          <p class="event">Fecha:
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>8/Marzo/2018</p>
          <p class="event">Hora:
            <span>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </span>5:00pm</p>
          <button type="button" class="button-event1 font">Seguir evento
            <span class="icon">
              <i class="fa fa-arrow-circle-right icon-event" aria-hidden="true"></i>
            </span>
          </button>
          <button type="button" class="button-event1 font">Añadir a Mis eventos</button>
        </div>
      </div>
      <br>
      <br>
      <!-- evento-3 -->
      <div class="col-sm-3 box-event">
        <p class="title-event0">Lucha por la Vida</p>
        <img class="img-event center-block img-responsive" src="http://marchaporlavidalima.org/wp-content/uploads/2016/02/logo100.png"
          alt="">

        <div class="date-event text-center">
          <p class="text-event">Lugar:
            <span>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span> campo de Marte </p>
          <p class="event">Fecha:
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>20/Febrero/2018</p>
          <p class="event">Hora:
            <span>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </span>3:00pm</p>
          <button type="button" class="button-event1 font">Seguir evento
            <span class="icon">
              <i class="fa fa-arrow-circle-right icon-event" aria-hidden="true"></i>
            </span>
          </button>
          <button type="button" class="button-event1 font">Añadir a Mis eventos</button>
        </div>
      </div>
      <br>
      <br>
    </div>
    <!-- mi estado -->
    <div class="col-xs-12 col-md-8 estadox">
      <P class="font">Como te sientes hoy...</P>
      <textarea class="form-control" id="exampleTextarea" rows="1" placeholder="Hoy me siento...">
      </textarea>
      <span>
        <button type="button" class="button-msj0 text-rigth">Enviar
        </button>
      </span>
    </div>

    <!-- Mis imagenes -->
    <div class="col-xs-12 col-md-8 seguidos">
      <P class="font">Mis imagenes...</P>
      <div id="preview" class="thumbnail">
        <img class="img-img img-responsive" src="" />
      </div>
      <!-- <a href="#" id="file-select" class="btn btn-default">Elegir archivo</a> -->
      <!-- informacion del archivo-->
      <!-- <span class="alert alert-info" id="file-info">No hay archivo aún</span> -->
      <form id="file-submit" enctype="multipart/form-data">
        <input id="file" name="file" type="file" />
      </form>
      <!-- <a href="#" class="btn btn-primary" id="file-save">Guardar</a> -->
    </div>
    <!--Mis imagenes  -->

    <!-- mis mensajes -->
    <div class="col-xs-12 col-md-8 seguidos">
      <P class="font">Mis mensajes...</P>
      <textarea class="form-control msj-msj" id="exampleTextarea" rows="3" placeholder="Como te sientes...">
      </textarea>
      <button type="button" class="button-msj0 text-rigth">Subir
      </button>
    </div>
    <!--Noticias -->
    <div class="col-xs-12 col-md-8 noticias">
      <P class="font">NOTICIAS...</P>
      <!-- 1. noticias -->
      <div class="box-noticias">
        <div class="noticias-left">
          <img class="img-noticias text-center img-responsive" src="http://www.milenio.com/hey/globos_de_oro_2018-golden_globes-oprah_winfrey-abuso_sexual-acoso-milenio_MILIMA20180108_0038_8.jpg" alt="">
        </div>
        <div class="noticias-rigth">
          <h4 class="title-noticias">
            Los globos de Oro y del valor femenino, contra el abuso.
          </h4>
          <h5 class="text-noticias"> Los Angeles. Luego de las constantes denuncias de abuso sexual, sobre todo contra las mujeres hollywood, la edicion
            75 de los Globos de Oro destacó el valor y coraje femenino con contantes declaraciones de apoyo y solidaridad,
            mientras que el mexicano Guillermo del Toro obtuvo el reconocimiento como Mejor Director, por su labor en THE
            SHAPE OF WATER, en una premiacion que estuvo muy repartida...
            <a href="http://www.milenio.com/hey/cine/premios_globos_oro-guillermo_toro-shape_water-acoso-abuso_sexual-oprah_winfrey_0_1099690034.html"
              target="_blank">leer mas</a>
          </h5>
        </div>
      </div>

      <!--2. noticias-->
      <div class="box-noticias">
        <div class="noticias-left">
          <img class=" img-noticias text-center img-responsive" src="http://www.prensa-latina.cu/images/2017/diciembre/23/Guatemala-mujeres.jpg"
            alt="">
        </div>
        <div class="noticias-rigth">
          <h4 class="title-noticias">
            Mujeres en Guatemala, romper el silencio
          </h4>
          <h5 class="text-noticias">Guatemala, (PL) Doña Ernestina suplica, pide de corazón encontrar a su hija, y sujeta fuerte contra su rostro un
            cartel con la foto de Lucecita para que desde la pantalla del televisor los supuestos secuestradores le devuelvan
            a su niña querida. (PLRadio)
            <br> La joven de apenas 20 años 'desapareció' hace cinco meses, cuando salió del trabajo después de las 10:00 pm
            rumbo a su casa. Hasta ahora solo han encontrado la moto en que viajaba y sus documentos a la orilla de un río...
            <a href="http://www.prensa-latina.cu/index.php?o=rn&id=140735&SEO=mujeres-en-guatemala-romper-el-silencio" target="_blank">leer mas</a>
          </h5>
        </div>
        <br>
        <br>
        <br>
      </div>
      <!-- 3. notiias-->
      <div class="box-noticias">
        <div class="noticias-left">
          <img class=" img-noticias text-center img-responsive" src="https://ep01.epimg.net/elpais/imagenes/2017/12/27/mujeres/1514375598_666228_1514375823_noticia_normal_recorte1.jpg"
            alt="">
        </div>
        <div class="noticias-rigth">
          <h4 class="title-noticias">
            Las mejores sentencias para la igualdad
          </h4>
          <h5 class="text-noticias">La igualdad de género está avanzando en España a golpe de sentencias. De hecho, el país es uno de los más destacados
            del mundo en la puesta en marcha de medidas legislativas contra la discriminación a la que está sometida la mujer
            por el mero hecho de serlo. “No solo en materia de violencia de género, también en cuanto a equidad”, aprecia
            la magistrada del Tribunal Superior de Justicia de Canarias, Gloria Poyatos...
            <a href="https://elpais.com/elpais/2017/12/27/mujeres/1514375598_666228.html" target="_blank">leer mas</a>
          </h5>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="box-footer text-center">
      <ul class="icon-footer text-center ">
        <li class="footer">
          <i class=" iconos fa fa-facebook-official" aria-hidden="true"></i>
        </li>
        <li class="footer">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </li>
        <li class="footer">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
    <p class="text-footer text-center">
      <i class="fa fa-copyright" aria-hidden="true">2017 Lucha a favor de la Mujer</i>
    </p>
  </footer>

  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/home.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>